[project]
name = "python-project-50"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pytest>=7.0.0",
    "pytest-cov>=4.0.0",
]
[project.scripts]
gendiff = "hexlet_code.scripts.gendiff:main"
